/* body{
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));

} */
@media (max-width: 1280px) {
  .productdisplay {
    margin: 0px 60px;
    margin-bottom: 20px;
  }
  .productdisplay-left {
    gap: 10px;
  }
  .productdisplay-img-list {
    gap: 10px;
  }
  .productdisplay-img-list img {
    height: 120px;
    /* width: 220px; */
  }
  .productdisplay-main-img {
    width: 30rem;
    height: 510px;
  }
  .productdisplay-right {
    margin: 0px 30px;
  }
  .productdisplay-right h1 {
    font-size: 22px;
  }
  .productdisplay-right-stars {
    gap: 3px;
    font-size: 13px;
  }
  .productdisplay-right-prices {
    margin: 10px 0px;
    font-size: 18px;
  }
  .productdisplay-right-description {
    font-size: 13px;
  }
  .productdisplay-right-size h1 {
    margin-top: 20px;
    font-size: 20px;
  }
  .productdisplay-right-size div {
    padding: 14px 20px;
  }
  .productdisplay-right button {
    width: 150px;
    padding: 15px 0px;
    margin-bottom: 20px;
  }
  .productdisplay-right-category {
    margin-top: 5px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .productdisplay {
    margin: 0px 30px;
  }
  .productdisplay-left {
    gap: 5px;
  }

  .productdisplay-img-list img {
    height: 105px;
    /* width: 220px; */
  }
  .productdisplay-main-img {
    height: 450px;
  }

  .productdisplay-right h1 {
    font-size: 18px;
  }
  .productdisplay-right-stars img {
    width: 15px;
  }

  .productdisplay-right-description {
    font-size: 12px;
  }
  .productdisplay-right-size h1 {
    margin-top: 20px;
    font-size: 20px;
  }
  .productdisplay-right-size div {
    padding: 14px 20px;
  }
  .productdisplay-right button {
    width: 120px;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .productdisplay-right-category {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .productdisplay {
    margin: 0px 10px;
  }
  .productdisplay-left {
    gap: 0px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .productdisplay-img-list {
    flex-direction: row;
    gap: 6px;
  }
  .productdisplay-img-list img {
    height: 100px;
  }
  .productdisplay-main-img {
    height: 400px;
    width: 26rem;
  }

  .productdisplay-right h1 {
    font-size: 14px;
  }
  .productdisplay-right-stars img {
    width: 13px;
  }

  .productdisplay-right-description {
    font-size: 10px;
  }
  /* .productdisplay-right-size h1{
    margin-top: 20px;
    font-size: 20px;
  }
  .productdisplay-right-size div{
    padding: 14px 20px;
  } */
  .productdisplay-right button {
    width: 100px;
    font-size: 12px;
  }
  .productdisplay-right-category {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .productdisplay {
    min-width: 400px;
    flex-direction: column;
  }
  .productdisplay-left {
    gap: 10px;
    flex-direction: row;
    margin: auto;
  }

  .productdisplay-img-list {
    flex-direction: column;
    gap: 8px;
  }
  .productdisplay-img-list img {
    height: 75px;
    /* width: 220px; */
  }
  .productdisplay-main-img {
    height: 330px;
    width: 20rem;

  }

  .productdisplay-right {
    margin: 5px;
  }
  .productdisplay-right h1 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
  }
  .productdisplay-right-stars img {
    width: 15px;
  }

  /* .productdisplay-right-description {
    font-size: 10px;
  } */
  /* .productdisplay-right-size h1{
    margin-top: 20px;
    font-size: 20px;
  }
  .productdisplay-right-size div{
    padding: 14px 20px;
  } */
  .productdisplay-right button {
    width: 130px;
    font-size: 15px;
    padding: 12px 0px;
  }
  .productdisplay-right-category {
    font-size: 16px;
  }
}
