.offer-main{
  height:65vh;
  margin: 2rem ;
  margin-bottom: 80px;
  padding: 3rem 5rem;
  padding-bottom: 2rem;

}
.offers {
  width: 100%;
  height:100%;
  display: flex;
  padding: 0 140px;
  background: linear-gradient(180deg, #E4C59E 0%, #AF8260 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-left: 2rem;
}

@media (max-width: 1280px) {
  .offers {
    padding: 0px 80px;
    margin-bottom: 20px;
  }
  .offers-left h1 {
    font-size: 40px;
  }
  .offers-left p {
    font-size: 18px;
  }
  .offers-right img {
    width: 300px;
  }
  .offers-left button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  .offers-right {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .offers {
    /* margin-top: 69rem; */
    padding: 0px 60px;
    margin-bottom: 80px;
    height: 40vh;

  }
  .offers-left h1 {
    font-size: 30px;
  }
  .offers-left p {
    font-size: 16px;
  }
  .offers-right img {
    width: 200px;
  }
  .offers-left button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
  .offers-right {
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  .offers {
    width: max-content;
    margin-top: 5rem;
    margin: 1rem;
  }
  .offers-left h1 {
    font-size: 22px;
  }
  .offers-left p {
    font-size: 13px;
  }
  .offers-right img {
    width: 180px;
  }
 
  .offers-left button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
  
}
@media (max-width: 500px) {
  .offers {
    height: 25vh;
    margin-bottom: 50px;
  }
  .offers-left h1 {
    font-size: 14px;
  }
  .offers-left p {
    font-size: 8px;
  }
  .offers-right img {
    width: 30px;
  }
  .offers-left button {
    background-color: #ff4141;
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
    gap: 30px;
  }
  
}
