.category_hover:hover {
  border-width: 0 3px 3px 0;
  border-color: #90a4ae; /* You can customize the color */
  transform: rotate(-45deg);
}
.home-discount {
 
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.home-discount:hover {
  border-bottom: 3px solid;
  border-right: 1px;
  border-color: red;
  color: red;
}

p{
  margin-top: 0;
  margin-bottom: 0
}
@media screen and (max-width: 1284px) {
  .home-category{
    width: 30%;
  }
  .offers {
    height: 100px;
    display: flex;
    justify-content: center;
  }
  .image {
    height: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .home-category{
    width: 40%;
  }
  .offers {
    height: 100px;
    display: flex;
    justify-content: center;
  }
  .image {
    height: 100%;
  }
}
@media screen and (max-width: 800px)  {
  .home-category div{
   font-size: .9rem
  }
  .offers {
    background-color: aqua;
    height: 200px;
    justify-content: center;
  }
  .category,
  .discount {
    width: 200px;
    font-size: 0.5rem;
  }

  .image {
    height: max-content;
  }
}
@media screen and (max-width: 500px)  {
  .home-category{
    min-width: 150px;
  }
  .home-category div p{
    font-size: .5rem
   }
  .home-slider-div{
    width: 100%;
  }
  .home-category-brand button{
    font-size: .5rem;
  }
  .home-slider{
    height: 30vh;
  }
  .home-slider img{
    height: 30vh;
  }
}
